[Unit]
Description=n2wconverter

[Service]
ExecStart=/opt/certi/bin/n2wconverter -f /opt/certi/etc/n2wconverter.conf
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
